// ------------------ MAIN COLOR PALETTE ------------------ //

$color-primary: #783a15;
$color-primary-dark: #4a1f05;

$color-secondary: #FFAD1B;

$color-tertiary: #E2B867;
$color-tertiary-dark: #D98703;

// --------------------- GREY COLORS --------------------- //

$color-grey: #9F9F9F;
$color-grey-light: #ACACAC;
$color-grey-lighter: #E8E8E8;
$color-grey-dark: #707070;
$color-grey-darkest: #464646;

// --------------------- BASIC COLORS --------------------- //

$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF0000;
$color-red-dark: #9E200B;
$color-green: #2DA808;
