@import "../../../../assets/style/colors";

.checkbox {
  &__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.11vh;

    & .checkbox__input:checked ~ .checkbox__checkmark {
      background: url("../../../../assets/images/icons/icon_checkmark_primary.svg")
        no-repeat 50%;
      &:hover {
        background: url("../../../../assets/images/icons/icon_checkmark_secondary.svg")
          no-repeat 50%;
      }
    }

    & .checkbox__input:checked ~ .checkbox__checkmark_disable {
      background: url("../../../../assets/images/icons/icon_checkmark_grey.svg") no-repeat
        50% !important;
    }
  }

  &__text_container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: normal;
    font-size: 1.11vh;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 0;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.11vh;
    text-transform: uppercase;
    color: $color-black;
    margin-left: 0.65vh;
  }

  &__checkmark,
  &__checkmark_disable {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 1.02vh;
    height: 2.04vh;
    width: 2.04vh;
    border: 0.09vh solid $color-grey-lighter;
    background-color: $color-white;
    margin-left: 1vh;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__error {
    font-style: normal;
    font-weight: normal;
    font-size: 1.11vh;
    color: $color-red;
    margin-bottom: 0.93vh;
  }
}
